.footer {
    /* margin-top: 80px; */
    padding: 64px 39px 32px;
    background-color: #161E2E;
    /* background-color: beige; */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer #logo {
    height: 100px;
    /* color: white; */
  }
  
  .footer .links {
    padding: 40px 0px 88px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
  
  .footer .links a {
    text-decoration: none;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.128571px;
    /* color: white; */
    transition-duration: 0.4s;
  }
  
  .footer .socials {
    padding-bottom: 72px;
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .footer .socials a {
    text-decoration: none;
    transition-duration: 0.4s;
  }
  
  .footer .links a:hover {
    color: var(--white);
  }
  
  .footer .socials a:hover {
    filter: brightness(600%);
  }
  
  .transform-img{
    display: none;
  }
