/* .col-4{
  width:15% !important;
  padding-right: 0% !important;
}

@media (min-width: 600px){
  .col-4{
    width:33% !important;
    padding-right: 0% !important;
  }
} */


.movie-wrapper {
  display: inline-block;
  box-sizing: border-box;
  margin-top: 10px;
  margin-left: 3px;
  margin-right: 3px;
  margin-bottom: 10px;
}
    
.img-movie-thumb {
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  width: 150px;
  height: 220px;
}

.img-movie-thumb img {
  width: 100%;
}

p.vote-movie {
  position: absolute;
  color: rgb(0, 0, 0);
  bottom: 5px;
  right: 6px;
  margin: 0;
  background: rgb(255, 255, 255);
  padding: 4px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 500;
}

p.title-movie {
  font-size: 14px;
  font-weight: bold;
  text-transform: capitalize;
  margin: 0px;
  color: white;
}

p.date-movie {
  font-size: 14px;
  color: #999;
  margin: 0px;
}